
/* MAIN STYLES */

main{
    margin-top: 5vh;
}

.main__container{
    flex-direction: column;
    padding: 3rem 0 0;
}

.main__content{
    flex-direction: column;
    padding: 2rem 0;
    padding-left: 1rem;
}

.main__title{
    font-weight: 500;
    font-size: 3rem;
    color: var(--purple);
}

.main__text{
    font-weight: 600;
    line-height: 1.5;
    padding: 1.5rem 0;
}

.main__content p + p{
    padding-bottom: 2rem;
}

.main__button{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: 1px solid var(--purple);
    min-width: 10rem;
    max-width: 15rem;
    text-align: center;
    border-radius: 0.25rem;
    color: var(--white);
    background-color: var(--purple);
    padding: 1rem 0.5rem;
}

.main__img-container{
    width: 100%;
    line-height: 0;
}

.main__img-container img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}


@media (min-width:720px){

    .main__container{
        flex-direction: row;
        padding-top: 3rem;
    }

    .main__content{
        margin-left: auto;
    }

    .main__content{
        width: 30%;
        margin-right: .5rem;
    }

    .main__img-container{
        width: 50%;
    }

    .main__img-container img{
        object-fit:cover;
        object-position: right -6rem bottom 0;
        width: 100%;
        height: 100%;
    }

}

@media (min-width:940px){

    .main__container{
        flex-direction: row;
        padding-top: 3rem;
        justify-content: space-between;
        align-items: center;
    }

    .main__content{
        margin-left: auto;
    }

    .main__content{
        width: 30%;
        margin-right: 2rem;
    }

    .main__img-container{
        width: 50%;
    }

    .main__img-container img{
        object-fit:cover;
        object-position: right 0rem bottom 0;
        width: 100%;
        height: 100%;
    }

}

@media (min-width:1200px){

    .main__container{
        flex-direction: row;
        padding-top: 3rem;
        justify-content: space-between;
        align-items: center;
    }

    .main__img-container img{
        object-fit:cover;
        object-position: left 0rem bottom 0;
        width: 100%;
        height: 100%;
    }

}