
/* ---HEADER STYLES--- */

.header{
    background-color: var(--blue);
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
}

.header__container{
    justify-content: space-between;
    align-items: center;
}

.header__container button img{
    width: 3rem;
}

.header__button{
    border: none;
    background-color: var(--blue);
}

.header__button:hover{
    cursor: pointer;
}

.header__container h2{
    font-size: 2rem;
    color: var(--white);
}